
  background{
      background-color: white;
  }
  h2 {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: normal;
      text-decoration: none;
  }
  .small-font {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      text-decoration: none;
      font-weight: normal;
      position: relative; top: -20px; left: 500px;
      margin: 0px 0px 0px 10px;
  }
  #navbar {
          position: absolute; top: 0px; right: 0px;
          width: 100%;
          height: 60px;
          background-color: #2C3E50;
          border-radius: 5px;

       }
       nav ul {
          margin: 0px;
          padding: 15px 15px 15px 15px;


       }
       nav li {
          display: inline;

       }
       img {
         position: relative; top: 100px; left: 250px;
         border: 10px;
         border-color: black;

      }


       .box {
         background: white;
         width: 455px;
         height: 255px;
         position: absolute; top: 75px; left: 50%;
         border: 10px;
         border-color: black;
         font-family: 'Lato', sans-serif;

       }

       .box h4 {
         background-color: #ECF0F1;
         position: relative; top:0px;
         padding: 10px 15px;
         margin: 0px 0px 0px 0px;
         font-style: normal;
         


       }

       enter {
           width: 75%;
           height: 90%;
           padding: 10px 9px;
       }
       #form {
           position: absolute;
           width: 50%;
           margin-left: 50%;
           margin-top: 30px;
       }

       #email{
          padding: 10px 15px;
          margin: 15px 0px 15px 0px;
          width: 85%;
          height: 50%;
          border-radius: 6px;
          position:relative; left: 15px;
          background-color:#E8F0FE;
          border-color: #dce4ec;
          font-family: 'Lato', sans-serif;
       }
       #password {
         width: 85%;
         padding: 10px 15px;
         margin:15px 0px 15px 0px;
         border-radius: 6px;
         position:relative; left: 15px;
         background-color:#E8F0FE;
         border-color: #dce4ec;
         font-family: 'Lato', sans-serif;
       }
       #login {
         width: 92%;
         font-size: 17px;
         padding: 18px 27px;
         margin: 0px 0px 0px 0px;
         border-radius: 10px;
         position:relative; left: 15px;
         color: white;
         background-color: #2C3E50;
         

       }
       
        bottom {
         width: 100%;
         padding: 10px 0px;
         bottom: 0;
         position: relative; top: 500px; left: 600px;
         text-align: center;
         font-family: 'Lato', sans-serif;
         font-size: 13px;
         color: #999;
         
        }
        
        #policy {
         margin: 0px 0px 5px 10px;
         color: #999;
         position: relative; top: 500px; left: 600px;
        
        }
        
        #terms-of-service {
         margin: 0px 0px 5px 10px;
         color: #999;
         position: relative; top: 500px; left: 600px;
        }
        
        #copyright {
         position: relative; top: 500px; left: 530px;
         color: #999;
         margin: 0px 0px 5px 10px;
        }
        
